/*********************************
** 该css文件内为项目应用较广的css **
** 在此文件中列出但本文件未被引用  **
**********************************/

/** 全局配置 **/
body{
    padding: 0;
    margin: 0;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #676a6c;
    overflow-x: hidden;
}
/** 系统配色 **/
.sys-color, .sys-color:hover, .sys-color:visited{
    color: #4bb0a5;
}
/** 警告色 **/
.warning-color, .warning-color:hover, .warning-color:visited{
    color: #ff4081;
}
/** 字体大小16px **/
.font-size-16{
    font-size: 16px !important;
}
/** 左浮动 **/
.float-left{
    float: left !important;
}
/** 右浮动 **/
.float-right{
    float: right !important;
}
/* 子页面container样式 */
.page-container{
    background-color: #fff;
    border: 1px #bbb solid;
}